extends layout

block content
  h1 Stores
  .stores
    ul.store-list
    each item in storelist
        li: a(href='/store/' + item._id) #{item.url}
        a(href='/deletestore/' + item._id) Delete

  h1 Add Store
    form(method='POST' action='/addstore')
      input(type='text', placeholder='URL', name='url' )
      button(type='submit') Add Store
