extends layout

block content
  h1 Stores
  .stores
    each item in storelist
      ul.store-list
        li #{item.url}

  h1 Add Store
    form(method='POST' action='/addstore')
      input(type='text', placeholder='URL', name='url' )
      button(type='submit') Add Store
